<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <title>Renesas RH850 Voltage Glitching</title>
  <meta name="image" property="og:image" content="https://jerinsunny.github.io/blogs/assets/rh850_vglitch/images/banner2.webp"/>
  {% include head-custom.html %}

  {% seo %}
</head>

<body>

  <header>
    <div class="container">
      <a id="a-title" href="{{ '/' | relative_url }}">
        <h1>Unlocking Renesas RH850/F1L Security with Voltage Glitching to extract firmware on Automotive ECUs</h1>
      </a>
      <small>16 May 2024</small>
      <h2>Breaking 16-byte ID Code Authentication for Firmware Extraction in Automotive ECU with Voltage Glitching</h2>
      <!-- <p class="view"> {{ site.date | date: "%-d %B %Y" }} </p> -->
      <div style="display: flex; gap: 2rem;">
        <div style="display: flex; flex-direction: row; flex-grow: inherit;  align-items: center;">
          <a href="https://www.linkedin.com/in/jerin-sunny/" target="_blank">
          <img src="https://avatars.githubusercontent.com/u/166545686" height="50px" width="50px" style="border-radius: 50%; margin: 0.25rem;"> </a>
          <p class="view">Jerin Sunny </p>

        </div>
        <div style="display: flex; flex-direction: row; flex-grow: inherit;  align-items: center;">
          <a href="https://www.linkedin.com/in/shakir-zari/" target="_blank">
          <img src="https://avatars.githubusercontent.com/u/166615503" height="50px" width="50px" style="border-radius: 50%; margin: 0.25rem;"> </a>
          <p class="view">Shakir Zari</p>

        </div>
      </div>
      
      <section id="downloads">
        {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
        {% endif %}
      </section>
    </div>
  </header>

  <div class="container">
    <section id="main_content">
      {{ content }}
    </section>
  </div>
</body>

</html>